In [1]:
a = list('dhahdgs')
a

['d', 'h', 'a', 'h', 'd', 'g', 's']

In [4]:
a = ['apple','ball','cat','dog']
a

['apple', 'ball', 'cat', 'dog']

In [8]:
a = ['apple','ball','cat','dog']
a[-1]

'dog'

In [10]:
a = ['apple','ball','cat','dog','dog']
a

['apple', 'ball', 'cat', 'dog', 'dog']

In [12]:
a = ['apple','ball','cat','dog','dog']
a[-1] = 'fish'
a

['apple', 'ball', 'cat', 'dog', 'fish']

In [13]:
a = ['apple','ball','cat','dog','dog']
b = [1,2,3,4]
c = a+b
c

['apple', 'ball', 'cat', 'dog', 'dog', 1, 2, 3, 4]

In [15]:
a = [1,2,3,4,5,6,7,8,9,10]
print(type(a))
print(len(a))

<class 'list'>
10

In [16]:
a = [1,2,3,4,5,6,7,8,9,10]
a[0:5]

[1, 2, 3, 4, 5]

In [17]:
a = [1,2,3,4,5,6,7,8,9,10]
a[0:-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
a = [1,2,3,4,5,6,7,8,9,10]
a[0:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
a = [1,2,3,4,5,6,7,8,9,10]
a[0:10:2]

[1, 3, 5, 7, 9]

In [22]:
a = [1,2,3,4,5,6,7,8,9,10]
a.index(9)

8

In [25]:
a = ['apple','ball','cat','dog','fish']
print(a.index('cat'))
a

2

['apple', 'ball', 'cat', 'dog', 'fish']

In [26]:
a = ['apple','ball','cat','dog','fish']
a.append('girl')
a

['apple', 'ball', 'cat', 'dog', 'fish', 'girl']

In [27]:
a = ['apple','ball','cat','dog','fish']
b =['girl']
c = a+b
c

['apple', 'ball', 'cat', 'dog', 'fish', 'girl']

In [30]:
a = ['apple','ball','cat','dog','fish']
y = a[0:1]
b = ['girl']
c = y+b
c

['apple', 'girl']

In [32]:
a = input("Enter the value of the list = ")
r = input("Enter the value for replace = ")
lists = ['apple', 'ball', 'cat', 'dog', 'fish', 'girl']
i = lists.index(a)
lists[i] = r
print(lists)

Enter the value of the list = apple
Enter the value for replace = Apple
['Apple', 'ball', 'cat', 'dog', 'fish', 'girl']

In [34]:
a = ['Apple', 'ball', 'cat', 'dog', 'fish', 'girl']
for x in a:
    print(x)

Apple
ball
cat
dog
fish
girl

In [35]:
# Search
a = ['Apple', 'ball', 'cat', 'dog', 'fish', 'girl','Apple']
if 'Apple' in a:
    print("Yes")
else:
    print("No")

Yes

In [36]:
# Search
a = ['Apple', 'ball', 'cat', 'dog', 'fish', 'girl','Apple']
if 'Apple' in a:
    x = a.count('Apple')
    print("Yes Apple is",x,"times")
else:
    print("No")

Yes Apple is 2 times

In [39]:
i = input("Search any value = ")
j = input("Enter any value for replace = ")
a = ['apple', 'ball', 'cat', 'dog', 'fish', 'girl','Apple']

x = a.count(i)
for y in range(x):
    z = a.index(i)
    a[z] = j
print(a)

Search any value = Apple
Enter any value for replace = apple

ValueError: 'Apple' is not in list

In [40]:
x = []
n = int(input("How many element = "))
for i in range(0,n):
    a = input("Enter value for list= ")
    x.append(a)
print(x)

How many element = 3
Enter value for list= Apple
Enter value for list= Ball
Enter value for list= Cat
['Apple', 'Ball', 'Cat']

In [ ]:
# Lambda Function

In [1]:
x = lambda a,b:a*b
print("The total sum = ",x(4,5))

The total sum =  20

In [2]:
def mul(a,b):
    print(a*b)
mul(4,5)

20

In [3]:
l = int(input("Enter the value of l = "))
k = int(input("Enter the value of k = "))
x = lambda a,b:a*b
print("The total sum = ",x(l,k))

Enter the value of l = 4
Enter the value of k = 5
The total sum =  20

In [8]:
Lists = [1,2,3,4,10,123,22]
div = list(filter(lambda x:(x%3 == 0),Lists))
even = list(filter(lambda x:(x%2 == 0),Lists))
odd = list(filter(lambda x:(x%2 != 0),Lists))

print(div)
print(even)
print(odd)

[3, 123]
[2, 4, 10, 22]
[1, 3, 123]

In [13]:
Lists = [1,2,3,4,10,123,22]
div = list(filter(lambda x:x>10 and x<123,Lists))
print(div)

[22]

In [14]:
Lists = [1,2,3,4,10,123,22]
div = tuple(filter(lambda x:x>10 and x<123,Lists))
print(div)

(22,)

In [16]:
List = [1,2,3,4,5,6,7,8,9,10]  
new_list = list(map(lambda x:x**2+5,List))
print(new_list)

[6, 9, 14, 21, 30, 41, 54, 69, 86, 105]

In [17]:
List = [1,2,3,4,5,6,7,8,9,10]  
new_list = tuple(map(lambda x:x**2+5,List))
print(new_list)

(6, 9, 14, 21, 30, 41, 54, 69, 86, 105)

In [18]:
import math as m
List = [1,2,3,4,5,6,7,8,9,10]
new_list = tuple(map(lambda x:m.pow(x,2),List))
print(new_list)

(1.0, 4.0, 9.0, 16.0, 25.0, 36.0, 49.0, 64.0, 81.0, 100.0)

In [19]:
from functools import reduce
lists = [5,5,6,9,3,4,8,8,3]
sums = reduce((lambda x, y: x + y), lists) 
print (sums)

51

In [20]:
lists = [5,5,6,9,3,4,8,8,3]
sum(lists)

51

In [21]:
from functools import reduce
fun = lambda x,y: x if (x > y) else y
reduce(fun, [12,43,32,67,98,23,34])

98

In [23]:
a = [12,43,32,67,98,23,34]
max(a)

98

In [24]:
from functools import reduce
fun = lambda x,y: x if (x < y) else y
reduce(fun, [12,43,32,67,98,23,34])

12

In [26]:
# list inside list
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [28]:
# list inside list
a = [[1,2,3],[4,5,6],[7,8,9],'a','b','c','d']
print(a)
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 'a', 'b', 'c', 'd']
7

In [31]:
a = [[1,2,3],[4,5,6],[7,8,9],'a','b','c','d']
a[0]
a[2][1]

8

In [33]:
a = ['Python','php']
a[0][0]

'P'

In [36]:
a = [[[1,2,3],[4,5,6],[7,8,9],'a','b','c','d']]
len(a[0][0])

3

In [38]:
# Taking matrix from users
r=int(input("Enter the number of rows = "))
c=int(input("Enter the number of columns = "))
mat=[ ]

for i in range(r):
    mat.append([ ])
    for j in range(c):
        x=int(input("Enter the element"))
        mat[i].append(x)

print(mat)
[[1,2,3],[4,5,6],[7,8,9]]

Enter the number of rows = 3
Enter the number of columns = 3
Enter the element1
Enter the element2
Enter the element3
Enter the element4
Enter the element5
Enter the element6
Enter the element7
Enter the element8
Enter the element9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

x = []
n = int(input("How many element = "))
for i in range(0,n):
    a = input("Enter value for list= ")
    x.append(a)
    
sum(x)

In [41]:
x = []
n = int(input("How many element = "))
for i in range(0,n):
    a = int(input("Enter value for list= "))
    x.append(a)
print(sum(x))

How many element = 5
Enter value for list= 1
Enter value for list= 1
Enter value for list= 1
Enter value for list= 1
Enter value for list= 1
5

In [48]:
x = []
n = int(input("How many element = "))
for i in range(0,n):
    a = int(input("Enter value for list= "))
    x.append(a)
x.sort()
x.reverse()
x

How many element = 5
Enter value for list= 2
Enter value for list= 3
Enter value for list= 4
Enter value for list= 1
Enter value for list= 5

[5, 4, 3, 2, 1]

 x = []
n = int(input("How many element = "))
for i in range(0,n):
    a = input("Enter value for list= ")
    x.append(a)
x.sort()
x.reverse()
x

In [52]:
x = []
n = int(input("How many element = "))
for i in range(0,n):
    a = input("Enter value for list= ")
    x.append(a)
x.sort()
# x.reverse()
x

How many element = 6
Enter value for list= a
Enter value for list= 3
Enter value for list= d
Enter value for list= 4
Enter value for list= 5
Enter value for list= .

['.', '3', '4', '5', 'a', 'd']